@font-face {
    font-family: 'IBMPlexSansKR-Text';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Text.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: 'white';
}


/* MainPanel */
.MainHeader {
    display: flex;
    width: 70%;
    min-width: 800px;
    max-width: 1100px;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    margin: 5rem auto 1rem;
}

.MainList {
    height: 60vh;
    width: 70%;
    min-width: 800px;
    max-width: 1100px;
    margin: 0 auto;

    overflow-y: auto;

    text-align: center;
}

/* SidePanel */

.SideHeader {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 40px;
    background-color: white;
    margin-bottom: 3em;
}

.SideList {
    text-align: center;
}

.SideFooter {
    text-align: center;
    bottom: 0;
    margin: 0.5rem 0;
    color: white;

}

li {
    display: block;
}


.Header_list,
.Main_List {

    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    font-size: 12px;

    width: 110px;
    flex-shrink: 0;
    text-align: center;
}

.Header_Container {
    display: flex;
    justify-content: left;

    flex-shrink: 0;

}

.List_Container {
    display: flex;
    justify-content: left;

    border-bottom: 1px solid white;
}


.UserList {
    padding: 10px;
    width: 110px;
    text-align: center;
    border-right: 1px solid white;

    flex-shrink: 0;
}